#document {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 16px;
  gap: 16px;
}

#container {
  display: flex;
  box-sizing: content-box;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  border: 1px solid black;
}

#container>.box {
  flex-grow: 1;
  flex-shrink: 1;
}
